.card {
  width: 30%;
  margin: 0 auto;
  border: 5px solid rgb(153, 153, 153);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  padding-bottom: 3px;
}

.card-header {
  height: 30%;
  background-color: #5d6770;
  color: #fff;
  text-align: center;
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.card-header p {
  font-size: 24px;
}

.container {
  padding: 4px 16px;
}
